.mainBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  gap: 1pc;
 
  .block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1pc;
  }
}
